<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>病人自主研究中心 | Patient Autonomy Research Center</title>
    <link rel="icon" href="favicon.ico">

    <!-- CSS -->


    <link rel="stylesheet" href="css/all.css">
    <!--<link rel="stylesheet" href="css/all.min.css">-->
</head>

<body>
    <div class="wrap">
        <!-- circle -->
        <div class="circle">
            <div class="container">
                <div class="circle-box">
                    <div class="circle-main"></div>
                </div>
            </div>
        </div>

        <!--header-->
        <header data-spy="affix" data-offset-top="100">
            <div class="container">
                <!--menu-bar-->
                <div class="menu-bar d-lg-none">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="true">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo-m -->
                    <a href="/" title="病人自主研究中心" tabindex="1" class="logo-m">
                        <img alt="病人自主研究中心" alt="回首頁" src="images/icon/logo-m.svg" class="img-fluid" />
                        <strong style="display: none;">病人自主研究中心</strong>
                    </a>
                </div>
                <!-- 我要捐款 -->
                <a href="donate.html" title="我要捐款" class="btn-donation">我要
                    <br/>捐款</a>
                <!-- GoTop -->
                <a href="#" title="Go Top" class="btn-gotop">
                    <i class="fa fa-caret-up"></i>
                </a>
                <!-- main-nav -->
                <div class="menu collapse" id="main-nav">
                    <!-- nav-main -->
                    <div class="nav-main order-lg-2">
                        <div class="row">
                            <!-- logo -->
                            <h1 class="col-0 col-lg-4 ">
                                <a href="/" title="病人自主研究中心" tabindex="1" class="logo">
                                    <img alt="病人自主研究中心" alt="回首頁" src="images/icon/logo.svg" class="img-fluid" />
                                    <strong style="display: none;">病人自主研究中心</strong>
                                </a>
                            </h1>
                            <ul class="col-12 col-lg-8 nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="story.html" title="生命故事">生命故事</a>
                                    <a href="#nav-story" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-story">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="#" title="精選特輯">精選特輯</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="親愛劇場">親愛劇場</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="白袍時間">白袍時間</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="生死迷藏">生死迷藏</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="權威觀點">權威觀點</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="私房故事">私房故事</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="event.html" title="課程與活動">課程與活動</a>
                                    <a href="#nav-event" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-event">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="event-course.html" title="專業課程">專業課程</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-lecturer.html" title="講師服務">講師服務</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-online.html" title="線上影音課程">線上影音課程</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-lohas.html" title="生命樂活">生命樂活</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="law.html" title="法規政策">法規政策</a>
                                    <a href="#nav-law" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-law">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="law-related.html" title="法規實務">法規實務</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="law-policy.html" title="政策研究">政策研究</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="trend.html" title="全球脈動">全球脈動</a>
                                    <a href="#nav-trend" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-trend">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="trend-international.html" title="國際新知">國際新知</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-exchange.html" title="合作交流">合作交流</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-ngo.html" title="國際NGO">國際NGO</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-world.html" title="世界趨勢">世界趨勢</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="news.html" title="最新消息">最新消息</a>
                                    <a href="#nav-news" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-news">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="#" title="中心動態">中心動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="法規政策動態">法規政策動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="課程與活動動態">課程與活動動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="國際動態">國際動態</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- nav-tool -->
                    <div class="nav-tool order-lg-1 ">
                        <ul class="nav justify-content-lg-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="1">:::</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#consult" title="線上諮詢">線上諮詢</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sitemap.html" title="網站導覽">網站導覽</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html" title="關於我們">關於我們</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="exercise.html" title="行使權利">行使權利</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="donate.html" title="我要支持">我要支持</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html" title="常見問題">常見問題</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" title="English">English</a>
                            </li>
                            <li class="nav-item search">
                                <form action="search.html" method="get" name="search-form" id="search-form" title="搜尋">
                                    <label for="S" class="d-none">關鍵字搜尋: </label>
                                    <input type="text" id="S" accesskey="S" name="search" placeholder="關鍵字搜尋" title="關鍵字">
                                    <div class="fa fa-search" onclick="document.getElementById('search-form').submit();" title="搜尋"></div>
                                    <input type="submit" value="Submit" class="btn-submit" title="Submit">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!--main-->
        <main class="container">
            <!--breadcrumb-->
            <ol class="breadcrumb container">
                <li class="breadcrumb-item">
                    <a href="#C" title="中央內容區塊" id="AC" accesskey="C" name="C">:::</a>
                    <a href="index.html" title="首頁">首頁</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="about.html" title="關於我們">關於我們</a>
                </li>
                <li class="breadcrumb-item active">大事紀</li>
            </ol>




            <!-- 病人自主權大事紀 -->
            <section class="container world">

                <div class="row justify-content-center m-2">
                    <a href="about.html" class="col-6 col-lg-3 text-center ">
                        <div class="service-lohas__icon">
                            <img src="images/icon/icon-about-1.png" class="img-fluid" alt="認識病主" />
                        </div>
                        <h2>認識病主</h2>
                    </a>
                    <a href="about-CEO.html" class="col-6 col-lg-3 text-center ">
                        <div class="service-lohas__icon">
                            <img src="images/icon/icon-about-2.png" class="img-fluid" alt="執行長的話" />
                        </div>
                        <h2>執行長的話</h2>
                    </a>
                    <a href="about-organization.html" class="col-6 col-lg-3 text-center ">
                        <div class="service-lohas__icon">
                            <img src="images/icon/icon-about-3.png" class="img-fluid" alt="組織簡介" />
                        </div>
                        <h2>組織簡介</h2>
                    </a>
                    <a href="about-history.html" class="col-6 col-lg-3 text-center ">
                        <div class="service-lohas__icon">
                            <img src="images/icon/icon-about-4.png" class="img-fluid" alt="大事紀" />
                        </div>
                        <h2>大事紀</h2>
                    </a>
                </div>

                <h2 class="world__title">病人自主權大事紀</h2>

                <div class="year">
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2019.01.06</div>
                            <div class="year__title">《病人自主權利法》正式施行</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20190106.jpg" class="img-fluid" alt="2019.01.06 《病人自主權利法》正式施行" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2018.03.04</div>
                            <div class="year__title">核心講師培訓課程（中部場次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20180304.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>

                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2018.01.01</div>
                            <div class="year__title">臺北市立聯合醫院試辦計畫先導啟動</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20180101.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.12.04</div>
                            <div class="year__title">《病人自主權利法》施行相關配套措施協調會</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171204.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.12.01</div>
                            <div class="year__title">核心講師培訓課程（第八梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171201.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.11.01</div>
                            <div class="year__title">核心講師培訓課程（南部場次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171101.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.11.01</div>
                            <div class="year__title">核心講師培訓課程（第七梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171101.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.10.02</div>
                            <div class="year__title">「 建置病人自主權利法配套機制 」南部場公聽會</div>
                            <div class="year__text">南部場公聽會於臺南奇美醫院進行，子法小組蒐集到更多元的意見，醫、法、哲領域的對話，皆為子法研擬的重要參考依據。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171002.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.10.01</div>
                            <div class="year__title">核心講師培訓課程（第六梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20171001.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.09.21</div>
                            <div class="year__title">「 建置病人自主權利法配套機制 」北部場公聽會</div>
                            <div class="year__text">北部場公聽會於臺北市立聯合醫院仁愛院區舉行，各方專家學者針對相關配套機制提出許多疑問以及建議，是子法小組首次公開面對各界意見的重要交流。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170921.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.09.01</div>
                            <div class="year__title">核心講師培訓課程（第五梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170901.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.08.14</div>
                            <div class="year__title">試辦醫院期中交流會議</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170814.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.08.01</div>
                            <div class="year__title">核心講師培訓課程（中部場次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170801.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.08.01</div>
                            <div class="year__title">政策研究國際考察（美國、加拿大)</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170801.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.06.14</div>
                            <div class="year__title">「建置病人自主權利法配套機制」專家諮詢共識會議</div>
                            <div class="year__text">《病人自主權利法》子法研擬小組正式啟動</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170614.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.06.01</div>
                            <div class="year__title">核心講師培訓課程（第四梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170601.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.06.01</div>
                            <div class="year__title">政策研究國際考察（歐洲）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170601-2.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.05.20</div>
                            <div class="year__title">核心講師培訓課程（第三梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170520.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.04.11</div>
                            <div class="year__title">試辦醫院組教育訓練（衛福部南投醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170411.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.04.01</div>
                            <div class="year__title">核心講師培訓課程（第二梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170401.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.03.20</div>
                            <div class="year__title">試辦醫院教育訓練（臺北市立聯合醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170320.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.03.13</div>
                            <div class="year__title">試辦醫院教育訓練（臺大醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170313.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.03.03</div>
                            <div class="year__title">試辦醫院教育訓練（彰化基督教醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170303.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.03.01</div>
                            <div class="year__title">試辦醫院教育訓練（雲林若瑟醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170301.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.02.15</div>
                            <div class="year__title">試辦醫院教育訓練（臺南奇美醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170215.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.02.14</div>
                            <div class="year__title">試辦醫院教育訓練啟動（臺東馬偕醫院）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170214.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2017.01.05</div>
                            <div class="year__title">病人自主權利法與相關法律競合議題釐清協調會</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20170105.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2016.12.01</div>
                            <div class="year__title">核心講師培訓課程啟動（第一梯次）</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20161201.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2016.11.20</div>
                            <div class="year__title">試辦醫院組會議</div>
                            <div class="year__text">共計七家試辦醫院，為「臺北市立聯合醫院、臺大醫院、彰化基督教醫院、衛福部南投醫院、雲林若瑟醫院、臺南奇美醫院、臺東馬偕醫院」。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20161120.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2016.01.06</div>
                            <div class="year__title">《病人自主權利法》總統公告</div>
                            <div class="year__text">拒絕醫療權由「末期病人」擴大至「五種特定臨床條件」之病人。 明定病人可以拒絕「維持生命治療」之權利，但須經過「預立醫療照護諮商」之醫病溝通過程，充分了解其個人自主意願，並經家屬之參與。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20160106.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2016.11.04</div>
                            <div class="year__title">衛福部105-106年度推廣《病人自主權利法》計畫專家啟動會議</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20161104.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2015.12.18</div>
                            <div class="year__title">《病人自主權利法》三讀通過</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20151218.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2013.01.09</div>
                            <div class="year__title">《安寧緩和醫療條例》第三次修法</div>
                            <div class="year__text">最近親屬一人代表簽署同意書，即可終止或撤除「維生醫療」之選擇。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20130109.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2011.01.26</div>
                            <div class="year__title">《安寧緩和醫療條例》第二次修法</div>
                            <div class="year__text">「最近親屬一致同意並經醫學倫理委員會審查通過後便得撤除病人心肺復甦術」之規定。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20110126.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2002.12.11</div>
                            <div class="year__title">《安寧緩和醫療條例》第一次修法</div>
                            <div class="year__text">簽署意願書的末期病人既得阻止心肺復甦術的施行（withhold），也能「終止或撤除」（withdraw）已施行的心肺復甦術。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20021211.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                    <div class="year__item">
                        <div class="year__box">
                            <div class="year__no">2000.06.07</div>
                            <div class="year__title">《安寧緩和醫療條例》立法</div>
                            <div class="year__text">第一部保障「末期病人」接受安寧緩和醫療、尊嚴善終與拒絕醫療之權利。</div>
                        </div>
                        <div class="year__img">
                            <img src="images/history/20000607.jpg" class="img-fluid" alt="2019.##.06 XXXXXXXXXXXX" />
                        </div>
                    </div>
                </div>

                <div class="world__subtitle">— 我國病主權開創史 —</div>

            </section>

        </main>

        <!--footer-->
        <footer class="footer text-center text-lg-left">
            <div class="container footer-more">
                <a href="#Z" id="AZ" title="下方功能區塊" accesskey="Z" name="Z">:::</a>
                <div class="row">
                    <div class="col-12 col-lg-4 text-center">
                        <img src="images/icon/logo-footer.svg" class="logo img-fluid" alt="footer logo" />
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="footer-title">即刻行動</div>
                        <a href="#" title="分享故事" class="footer-link">分享故事</a> /
                        <a href="#" title="我要捐款" class="footer-link">我要捐款</a> /
                        <a href="#" title="訂閱電子報" class="footer-link">訂閱電子報</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="footer-title">追蹤我們</div>
                        <a href="#" title="facebook" class="footer-social">
                            <img src="images/icon/icon-facebook.svg" class="img-fluid" alt="social facebook" />
                        </a>
                        <a href="#" title="line" class="footer-social">
                            <img src="images/icon/icon-line.svg" class="img-fluid" alt="social line" />
                        </a>
                        <a href="#" title="youtube" class="footer-social">
                            <img src="images/icon/icon-youtube.svg" class="img-fluid" alt="social youtube" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="container footer-copyright">
                <a href="mailto:service@parc.tw">電子信箱 : service@parc.tw</a>
                <div>中心地址 : 10617 台北市大安區羅斯福路四段1號
                    <br class="d-lg-none"> 博雅教學館 生命教育中心</div>
                <div>病人自主研究中心 PARC © 2018. All Rights Reserved.</div>
            </div>
        </footer>
    </div>


    <!-- JavaScript -->
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/bootstrap/popper.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/base.js"></script>

</body>

</html>