<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>病人自主研究中心 | Patient Autonomy Research Center</title>
    <link rel="icon" href="favicon.ico">

    <!-- CSS -->


    <link rel="stylesheet" href="css/all.css">
    <!--<link rel="stylesheet" href="css/all.min.css">-->
</head>

<body>
    <div class="wrap">
        <!-- circle -->
        <div class="circle">
            <div class="container">
                <div class="circle-box">
                    <div class="circle-main"></div>
                </div>
            </div>
        </div>

        <!--header-->
        <header data-spy="affix" data-offset-top="100">
            <div class="container">
                <!--menu-bar-->
                <div class="menu-bar d-lg-none">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="true">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- logo-m -->
                    <a href="/" title="病人自主研究中心" tabindex="1" class="logo-m">
                        <img alt="病人自主研究中心" alt="回首頁" src="images/icon/logo-m.svg" class="img-fluid" />
                        <strong style="display: none;">病人自主研究中心</strong>
                    </a>
                </div>
                <!-- 我要捐款 -->
                <a href="donate.html" title="我要捐款" class="btn-donation">我要
                    <br>捐款</a>
                <!-- GoTop -->
                <a href="#" title="Go Top" class="btn-gotop">
                    <i class="fa fa-caret-up"></i>
                </a>
                <!-- main-nav -->
                <div class="menu collapse" id="main-nav">
                    <!-- nav-main -->
                    <div class="nav-main order-lg-2">
                        <div class="row">
                            <!-- logo -->
                            <h1 class="col-0 col-lg-4 ">
                                <a href="/" title="病人自主研究中心" tabindex="1" class="logo">
                                    <img alt="病人自主研究中心" alt="回首頁" src="images/icon/logo.svg" class="img-fluid" />
                                    <strong style="display: none;">病人自主研究中心</strong>
                                </a>
                            </h1>
                            <ul class="col-12 col-lg-8 nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="story.html" title="生命故事">生命故事</a>
                                    <a href="#nav-story" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-story">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="#" title="精選特輯">精選特輯</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="親愛劇場">親愛劇場</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="白袍時間">白袍時間</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="生死迷藏">生死迷藏</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="權威觀點">權威觀點</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="私房故事">私房故事</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="event.html" title="課程與活動">課程與活動</a>
                                    <a href="#nav-event" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-event">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="event-course.html" title="專業課程">專業課程</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-lecturer.html" title="講師服務">講師服務</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-online.html" title="線上影音課程">線上影音課程</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="event-lohas.html" title="生命樂活">生命樂活</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="law.html" title="法規政策">法規政策</a>
                                    <a href="#nav-law" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-law">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="law-related.html" title="法規實務">法規實務</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="law-policy.html" title="政策研究">政策研究</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="trend.html" title="全球脈動">全球脈動</a>
                                    <a href="#nav-trend" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-trend">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="trend-international.html" title="國際新知">國際新知</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-exchange.html" title="合作交流">合作交流</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-ngo.html" title="國際NGO">國際NGO</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="trend-world.html" title="世界趨勢">世界趨勢</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="news.html" title="最新消息">最新消息</a>
                                    <a href="#nav-news" class="nav-plus collapsed" data-toggle="collapse">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                    <div class="sub-nav collapsed collapse" id="nav-news">
                                        <div class="sub-nav__box">
                                            <div class="sub-nav__item">
                                                <a href="#" title="中心動態">中心動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="法規政策動態">法規政策動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="課程與活動動態">課程與活動動態</a>
                                            </div>
                                            <div class="sub-nav__item">
                                                <a href="#" title="國際動態">國際動態</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- nav-tool -->
                    <div class="nav-tool order-lg-1 ">
                        <ul class="nav justify-content-lg-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#U" id="AU" name="U" title="右上方功能區塊" accesskey="U" tabindex="1">:::</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#consult" title="線上諮詢">線上諮詢</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="sitemap.html" title="網站導覽">網站導覽</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html" title="關於我們">關於我們</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="exercise.html" title="行使權利">行使權利</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="donate.html" title="我要支持">我要支持</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html" title="常見問題">常見問題</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" title="English">English</a>
                            </li>
                            <li class="nav-item search">
                                <form action="search.html" method="get" name="search-form" id="search-form" title="搜尋">
                                    <label for="S" class="d-none">關鍵字搜尋: </label>
                                    <input type="text" id="S" accesskey="S" name="search" placeholder="關鍵字搜尋" title="關鍵字">
                                    <div class="fa fa-search" onclick="document.getElementById('search-form').submit();" title="搜尋"></div>
                                    <input type="submit" value="Submit" class="btn-submit" title="Submit">
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!--main-->
        <main class="container">

            <!--breadcrumb-->
            <ol class="breadcrumb container">
                <li class="breadcrumb-item">
                    <a href="#C" title="中央內容區塊" id="AC" accesskey="C" name="C">:::</a>
                    <a href="index.html" title="首頁">首頁</a>
                </li>
                <li class="breadcrumb-item active">#趙可式</li>
            </ol>

            <div class="title-black mb-3">#趙可式</div>

            <div class="row">
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-4">
                    <a href="news-detail.html" class="item photo-x6__item" title="專家群力凝聚共識《病主法》子法配套將定案">
                        <div class="photo-x6__box">
                            <div class="photo-x6__img" alt="專家群力凝聚共識《病主法》子法配套將定案" style="background: url(images/photo/index-photo-01.png) no-repeat center; background-size: cover;"></div>
                        </div>
                        <div class="photo-x6__title">專家群力凝聚共識《病主法》子法配套將定案</div>
                        <div class="photo-x6__text">
                            《病人自主權力法》自2015年底三讀通過
                            <br>
                            <br> 三月 01,2018 by 病主中心 PARC
                        </div>
                    </a>
                </div>
            </div>

            <!-- pagination -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link active" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </main>

        <!--footer-->
        <footer class="footer text-center text-lg-left">
            <div class="container footer-more">
                <a href="#Z" id="AZ" title="下方功能區塊" accesskey="Z" name="Z">:::</a>
                <div class="row">
                    <div class="col-12 col-lg-4 text-center">
                        <img src="images/icon/logo-footer.svg" class="logo img-fluid" alt="footer logo" />
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="footer-title">即刻行動</div>
                        <a href="#" title="分享故事" class="footer-link">分享故事</a> /
                        <a href="#" title="我要捐款" class="footer-link">我要捐款</a> /
                        <a href="#" title="訂閱電子報" class="footer-link">訂閱電子報</a>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <div class="footer-title">追蹤我們</div>
                        <a href="#" title="facebook" class="footer-social">
                            <img src="images/icon/icon-facebook.svg" class="img-fluid" alt="social facebook" />
                        </a>
                        <a href="#" title="line" class="footer-social">
                            <img src="images/icon/icon-line.svg" class="img-fluid" alt="social line" />
                        </a>
                        <a href="#" title="youtube" class="footer-social">
                            <img src="images/icon/icon-youtube.svg" class="img-fluid" alt="social youtube" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="container footer-copyright">
                <a href="mailto:service@parc.tw">電子信箱 : service@parc.tw</a>
                <div>中心地址 : 10617 台北市大安區羅斯福路四段1號
                    <br class="d-lg-none"> 博雅教學館 生命教育中心</div>
                <div>病人自主研究中心 PARC © 2018. All Rights Reserved.</div>
            </div>
        </footer>
    </div>


    <!-- JavaScript -->
    <script src="lib/jquery-1.11.3.min.js"></script>
    <script src="lib/bootstrap/popper.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/base.js"></script>

</body>

</html>