@charset "UTF-8";

/*css-table*/
.css-table{
  display: block;
  width: 99.9%;
  border-color: transparent;
  padding: 15px;
  thead{
    display:none;
  }
  tbody{
    display:block;
  }
  tr {
    display: block;
    padding: 10px;
    margin-bottom: 15px;   
    background: #FFF; 
  }
  th{
    display:  block;
  }
  td{
    padding: 2px;
    display:  block;
  }


}

@media (min-width: $media-lg) {
  /*css-table*/
  .css-table{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    font-size: em(16);
    text-align: center;
    thead{
      display:table-header-group;
    }
    tbody{
      display:table-row-group;
      background: #FFF;
    }
    tr {
      display:table-row;
      background:transparent;
    }
    th{
      display:table-cell;
      width: auto;
      padding: 5px;
      background: transparent;
      vertical-align: middle;
    }
    td{
      display:table-cell;
      width: auto;
      background: transparent;
      vertical-align: middle;
      padding: 10px 5px;
    }
    label{
      display: none;
    }
  }
}

