@charset "UTF-8";
.modal {
  &-backdrop{
    &.show{
      opacity: 0.95;
    }
  }
  &-content{
    position: relative;
    border-radius: 0;
    border: none;
    background: transparent;
  }
  &-body{
    padding: 30px 0 0 0;
  }
  .close{
    z-index: 1;
    position: absolute;
    top:0;
    right:0;
    color:$color-white;
    text-shadow: none;
    text-align: right;
    margin-bottom: 10px;
  }
}

.popup-booking{

  .card{
    background: transparent;
    border: none;
    color: $color-greyish-brown;
    background: $color-white;
    border-radius: 0;
    &-body{
      padding: 30px;
      a{
        color: $color-black;
      }
    }
    &-title{
      font-weight: 300;
      font-size: em(28);
      line-height: 28px;
      margin-bottom: 40px;
    }

    &-btn{
      &-prev{
        display: block;
        text-align: center;
        font-size: em(14);
        color: $color-white;
        background: $color-dull-orange;
        padding: 20px 0;
        width: 100%;
        .icon{
          margin-right: 10px;
        }
      }
      &-next{
        display: block;
        text-align: center;
        font-size: em(14);
        color: $color-white;
        background: $color-brownish-orange;
        padding: 20px 0;
        width: 100%;
        .icon{
          margin-left: 10px;
        }
      }
      &-close{
        display: block;
        text-align: center;
        font-size: em(14);
        color: $color-white;
        background: $color-brownish-orange;
        padding: 20px 0;
        width: 100%;
      }
      &-close-popup{
        font-size: em(20);
        line-height: 28px;
        color: $color-white;
        float: right;
      }
    }
  }
  .booking-nav{
    &__item{
      height: 60px;
      padding-bottom: 10px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.2);
      &:nth-child(2n+1){
        border-left: none;
      }
      &:nth-child(2n+2){
        border-left: none;
        position: relative;
        &:before{
          position: absolute;
          content: '';
          width: 1px;
          height: 80%;
          left: 0;
          top:0;
          background: rgba(0,0,0,0.2);
        }
      }
      input{
        font-size: em(14);
        background: transparent;
        color: $color-greyish-brown;
        border: none;
        &:focus{
          outline: none;
        }
        &::placeholder{
          color: $color-greyish-brown;
        }
      }
    }
    &__title{
      font-size: em(12);
    }
    &__text{
      font-size: em(14);
      margin-bottom: 10px;
    }
  }
}

.popup-ballroom{
  background: transparent;
  &__item{
    margin: 0 50px;
    color: $color-white;
  }
  &__img{
   margin-bottom: 0;
  }
  &__title{
    line-height: 25px;
    font-size: em(18);
    font-weight: 300;
    margin: 10px 0;
  }
  &__text{
    line-height: 25px;
    font-size: em(14);
    margin-bottom: 10px;
  }
  &__hr{
    border-top-color: $color-white;
  }
  &__link{
    display: inline-block;
    color: $color-white;
    font-size: em(14);
    margin-right: 30px;
    margin-bottom: 10px;

    .icon {
      margin-right: 10px;
    }
    &:hover{
      color: $color-white;
      text-decoration: underline;
    }
  }
  &__btn-pdf{
    display: inline-block;
    color: $color-white;
    background: $color-hazel;
    padding: 15px 20px;
    line-height: 20px;
    font-size: em(14);
    .icon {
      margin-right: 10px;
    }
    &:hover{
      color: $color-white;
    }
  }

  .owl{
    &-nav{
      position: absolute;
      color: $color-white;
      font-size: em(40);
      width: 100%;
      top:50%;
      margin-top: -30px;
    }
    &-prev{
      position: absolute;
      left:0;
    }
    &-next{
      position: absolute;
      right: 0;
    }
  }
}

.photo-owl{
  margin: 50px 0;
  background: transparent;
  &__item{
    margin: 0;
  }
  &__img{
    margin-bottom: 10px;
  }

  .owl{
    &-nav{
      position: absolute;
      color: $color-white;
      font-size: em(40);
      width: 100%;
      top:50%;
      margin-top: -30px;
    }
    &-prev{
      position: absolute;
      left:20px;
    }
    &-next{
      position: absolute;
      right: 20px;
    }
  }
}

.owl {
  &-pagination {
    position: relative;
    color: $color-white;
    line-height: 20px;
    font-size: em(14);
    font-weight: 300;
    text-align: center;
    z-index: 1;
    padding: 10px;
    margin-top: -40px;
  }
}
