@charset "UTF-8";
.pagination{
  margin-bottom: 30px;
 .page{
   &-link{
     color: $color-orange;
     border-color: transparent;     
     background: transparent;
     &.active{
      color: $color-blood;
      font-weight: bolder;
     }
   }
 }
}
