@charset "UTF-8";
.nav {
  &-item{
    margin: 1rem;
  }
  &-link {
    display: block;    
    padding: 0;
    &.active{
      color:$color-blood;
      border-bottom: 1px solid $color-blood;
    }
  }  

}